<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Writer</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/public/assets/favicon.ico" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/vendor/css/mdb.min.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/public/css/index.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="top">
            <!-- Container wrapper -->
            <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2 writer-font font-medium" href="/">
                Writer
            </a>
        
            <!-- Toggle button -->
            <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fa fa-bars"></i>
            </button>
        
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#"><%= user.firstName%></a>
                </li>
                </ul>
                <!-- Left links -->
        
                <div class="d-flex align-items-center">
                <button type="button" class="btn btn-link px-3 me-2">
                    Top Trending
                </button>
            </div>
            <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        <!-- Main Content -->
        <div class="container-fluid mainContent">
            <div class="form-for-sign">
                <div class="row d-flex justify-content-center inputRow">
                    <div class="col-md-6 text-center">
                        <img src='<%=avatar%>' class="profileImageBig" alt="Profile Image" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title='<%= user.firstName %> <%= user.lastName%>'>
                        <h1 class="writer-font font-largest"><%=user.firstName%> <%=user.lastName%></h1>
                    </div>
                </div>
                <div class="row d-flex justify-content-center inputRow">
                    <div class="col-md-6 text-center">
                        <h4 class="writer-font"><%=bio%></h4>
                    </div>
                </div>
                <div class="row d-flex justify-content-center inputRow">
                    <div class="col-md-6 text-center">
                        <button type="button" class="btn btn-primary btn-rounded margin-top"><%= numFollower%> Followers</button>
                        <button type="button" class="btn btn-primary btn-rounded margin-top"><%= numFollowing%> Following</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="container-fluid mainContent margin-top">
            <div class="form-for-sign">
             <div class="row d-flex justify-content-center inputRow">
                 <div class="col-md-6 text-center">
                     Made with &hearts; By Kashif Raza <a href="#top" data-mdb-placement="right" data-mdb-toggle="tooltip" title="Go to Top"><i class="fa fa-arrow-up"></i></a>
                 </div>
             </div>
            </div>
         </div>

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="/public/js/scripts.js"></script>
        <script src="/public/vendor/js/mdb.min.js"></script>
        
    </body>
</html>
